<?xml version="1.0"?>
<launch>
<group ns="drone0">

    <arg name="id" value="drone0"/>
    <arg name="command_hz" value="10"/>
    <node pkg="quad" type="quad_node" name="quad_node" output="screen">
        <rosparam command="load" file="$(find quad)/params/param.yaml" />
        <param name="mesh_resource" value="file://$(find quad)/meshes/fake_drone.dae" />
        <param name="agent_id" value="$(arg id)"/>
        <param name="command_rate" value="$(arg command_hz)"/>
        <param name="start_x" value="0.0"/>
        <param name="start_y" value="0.0"/>
        <param name="start_z" value="2.0"/>
        <param name="yaw_offset" value="0.0"/>
    </node>

</group>
</launch>